<html lang="en">

   <%- include header %>
   <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron" id="maindivId">
<h1>Welcome to Property Pal!</h1>

        <p>
          <ul>IDEAS:
          <li>Online payments?</li>
            <li>Online Lease Agreements?</li>
              <li>Online Applications?</li>
                  <li>Maintenance Requests?</li>
                      <li>Online Forms Integration: N1, N4, N9, N11, N13</li>
                          <li>Rent Receipt Generation?</li>
                              <li>Tenant Portal?</li>
                                  
          </ul>
        </p>
        <!-- <img src="" -->
      </div>
    <%- include footer %>