<html lang="en">
  <%- include header %>
  <!-- Main component for forms section -->
  <div class="jumbotron" id="maindivId">
    <h1 class="formsText">Forms</h1>
    <a href="/N4">
      <img border="0" alt="N4" src="n4.jpg" class="formsImages">
    <h3 class="formTypesText">New N4 Form</h3>
    <div class="formTypesText">
    <a href="/BlankN4Form" class="formTypesText">Download Blank N4 Form</a>
    </div>

    <!-- <img src="" -->
  </div>
  <%- include footer %>
</html>
