<html lang="en">
        <html lang="en">

                <%- include openHouseHeader %>
                <!-- Main component for a primary marketing message or call to action -->
                   <div class="jumbotron" id="maindivId">
             <h1>Welcome to Property Pal!</h1>
             <h2>Chose an option from the buttons above....</h2>
                     
                   <div>
                           <h3>News</h3>
                   </div>
                     <!-- <img src="" -->
                   </div>
                 <%- include footer %>