<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Property Pal</title>
     <link rel='stylesheet' href='/styles.css' />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
   <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- CSS -->
   <!-- leaflet CSS file -->
  <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
 <!--  CSS for Leaflet Routing -->
  <link rel="stylesheet" type="text/css" href="/css/leaflet-routing-machine.css" />
<!--   CSS for Setview button -->
  <link rel="stylesheet" type="text/css" href="/css/easy-button.css" />
 <!--  Including the font-awesome CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>
  <div class="container">
    <!-- Static navbar -->

    <nav class="navbar navbar-dark bg-primary " style="background-color: #5271ff" id="navbarId" >
      <div class="container-fluid" >
          <img src="../pplogo.png" class="mainLogo">
        <div id="navbar" class="navbar-expand expand" >
          
          <!-- <ul class="nav navbar-nav" style="border: 2px solid black; border-radius: 20px;"> -->
            <ul class="nav navbar-nav">
            <li class="active"><a href="/openHouseDashboard" class="buttonClass" >Home</a></li>
          </ul>
          <ul class="nav navbar-nav">
              <li class="active"><a href="/openHouses" class="buttonClass" >Open Houses</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/openHouseMapView" class="buttonClass" >Map View</a></li>
              </ul>
              
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/home/logout" class="buttonClass" >Logout</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/openHouseProfile" class="buttonClass" >Profile view</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>
    
      